[2018-11-01 13:45] AveekBasu opened #2 "Testing"

[2018-11-01 13:46] AveekBasu opened #3 "Home Page - Footer"

[2018-11-01 13:46] AveekBasu opened #4 "Fix the footer"
Footer should have the links for FB, Twitter, G+, Youtube, etc. for sharing the website, and Copyright Openprinting.

[2018-11-01 13:46] AveekBasu opened #5 "Create a collection for news items"
Will show up the latest blog posts over here.

(Reference section in Libreoffice.org: posts feeds)

[2018-11-01 13:47] AveekBasu opened #6 "Image Banner"
(Reference section in Libreoffice.org: LibreOffice is Free and Open Source Software. Development is open to new talent and new ideas, and our software is tested and used daily by a large and devoted user community.)

[2018-11-01 13:47] AveekBasu opened #7 "Just Below the Slider create the next section having 3 Icons:"
1. Downloads
2. Upcoming Projects
3. Contribute

(reference section in Libreoffice.org: Free Office Suite, Fun Project, Fantastic People)

[2018-11-01 13:47] AveekBasu opened #8 "Create the Menu Bar:"
List:

Home Page
Downloads
Tutorials
Project List
Blogs
Contact
Donation
News / Events
Driverless Printing

[2018-11-01 13:47] AveekBasu opened #9 "Add the Slider / Splash screen."

[2018-11-01 13:47] AveekBasu opened #10 "Add the theme: https://mademistakes.com/work/minimal-mistakes-jekyll-theme/"

[2018-11-25 16:55] sahilarora535 commented on #10
Already solved in commit: https://github.com/OpenPrinting/openprinting.github.io/commit/78ba346deab33abf6c238220dd6a4664ad4881c1

[2018-11-25 16:55] #10 closed

[2018-12-27 08:46] dheeraj135 commented on #8
Are you talking about this menu?
![screenshot from 2018-12-27 14-13-12](https://user-images.githubusercontent.com/28601604/50473125-baee9400-09e1-11e9-8d92-4b4a31363c29.png)

[2018-12-27 09:15] AveekBasu commented on #8
Yes....

On Thu, Dec 27, 2018 at 2:16 PM Dheeraj Yadav <notifications@github.com>
wrote:

[2018-12-27 17:04] dheeraj135 commented on #8
I have added menu bar ,tutorials collection and reduced font size. You can check it here: https://dheeraj135.github.io/openprinting.github.io/

[2019-01-18 15:30] sahilarora535 commented on #2
Closing this issue.

[2019-01-18 15:30] #2 closed

[2019-01-18 15:32] sahilarora535 commented on #9
Splash screen added, closing.

[2019-01-18 15:32] #9 closed

[2019-01-18 19:14] sahilarora535 opened #11 "Add license to the website"
Add license to the website. @tillkamppeter please suggest what license should be used for the website.

[2019-01-18 21:51] iramcdonald commented on #11
Hi,

I respectfully suggest Apache 2.0 license:

https://www.apache.org/licenses/LICENSE-2.0

The IEEE-ISTO PWG decided to move everything to Apache 2.0 after
thorough research and discussion within PWG Steering Committee.

Also, Apache 2.0 is the license chosen by Apple for all of their open
source projects (including CUPS).  Any form of GPL is poisonous
to takeup by corporations.  Some of the ot

[2019-01-18 22:13] tillkamppeter commented on #11
Ira, thank you very much. This sounds reasonable. Let us take Apache 2.0 then.

[2019-01-19 07:15] sahilarora535 opened #12 "Migrate GSoC 2019 project ideas page from old website"
Migrate https://wiki.linuxfoundation.org/gsoc/google-summer-code-2019-openprinting-projects

The different ideas should have different pages so that they are manageable and easily editable.

Depends on: #14

[2019-01-19 07:30] sahilarora535 opened #13 "Add openprinting logo beside the title on the title bar"
The title bar looks like this:

![image](https://user-images.githubusercontent.com/12633577/51423701-c81a2f80-1be9-11e9-9ad8-d470f217dc2f.png)

It would be great to have the openprinting logo beside the title "OpenPrinting" on the title bar.

[2019-01-19 07:33] sahilarora535 commented on #8
@dheeraj135 Great work. However, the site has changed a bit, could you make the same changes according to the new source code? Thank you.

[2019-01-19 07:41] sahilarora535 opened #14 "Create a collection for GSoC 2019"
A collection is a group of pages in Jekyll in which we group similar pages. It would be great to have a collection like **gsoc-2019** in the website which will contain everything related to GSoC, like project ideas page, different project pages, student blogs, etc.

Reference:
1. https://jekyllrb.com/docs/collections/
2. https://mmistakes.github.io/minimal-mistakes/docs/collections/

[2019-01-19 07:47] sahilarora535 opened #15 "Have a more helpful introduction for the website"
The introduction for the website, as mentioned below, might require a change so that people who visit the website for the first time know what the site is all about:

![image](https://user-images.githubusercontent.com/12633577/51423886-627b7280-1bec-11e9-8cf3-73304d89dc2c.png)

@tillkamppeter @iramcdonald @AveekBasu  It would be great if you could suggest some meaningful introduction, or does the

[2019-01-19 07:56] sahilarora535 opened #16 "Add an About page for the website"
Every website has an **About Us** or similar page which tells what's the website is all about, and important links to various other pages in the website, very similar to this: https://wiki.linuxfoundation.org/openprinting/start

A start page for the new website would be amazing.
@tillkamppeter @AveekBasu should the content from the old start page be directly copied or would you prefer some new con

[2019-01-19 07:59] sahilarora535 opened #17 "Add a page for contributing to the development of the website"
We need a page on the website for contributing to the development of the website, and a contributing guide **Contributing.md** in the source code so that anyone new to the website can contribute without a lot of manual help or instructions.

[2019-01-19 21:42] sahilarora535 opened #18 "Modify placeholders on the front page"
The placeholders look like these currently:

![image](https://user-images.githubusercontent.com/12633577/51424330-277c3d80-1bf2-11e9-9de0-0f36ad63a709.png)

The placeholders should be as follows:

1. GSoC 2019
2. About Us
3. Contribute

GSoC 2019 should be a collection as mentioned in #14, About Us should be a page as mentioned in #16 and Projects should be the various projects which fall under th

[2019-01-20 03:40] dheeraj135 commented on #8
Ok. I will work on this.

[2019-01-20 15:16] dheeraj135 commented on #8
@sahilarora535 Please check the changes here: https://dheeraj135.github.io/openprinting.github.io/ . Thanks.

[2019-01-20 18:10] dheeraj135 commented on #13
Hi @sahilarora535 , I looked into this issue and this is the result:
![screenshot from 2019-01-20 23-38-33](https://user-images.githubusercontent.com/28601604/51443295-ab2a4d00-1d0c-11e9-916b-d40367dc791b.png)

[2019-01-21 17:58] dheeraj135 commented on #15
@sahilarora535 I think this will be better:
**_Making printing just work_** on free operating systems like GNU/Linux and the BSDs or under commercial UNIX-like systems such as Solaris and Mac OS X.

[2019-01-21 18:41] iramcdonald commented on #15
Hi,

I disagree with this suggestion.

Grey area here - OpenPrinting WG collaborates closely w/ IEEE-ISTO
Printer Working Group on IPP projects (underlying both CUPS Filters
and Apple CUPS).

IPP has shipped for years on Apple macOS and iOS.  IPP (via Android
Mopria compliance) started shipping on Windows 10 in the current
release.

OpenPrinting WG is part of that larger standards-based printing
e

[2019-01-21 18:47] dheeraj135 opened #22 "CSS transition not working in chrome based browsers."
CSS transition responsible for showing blue line when we hover over elements of Menu bar doesn't work properly in chromium based browsers(Google chrome and chromium-browser).

[2019-01-22 07:02] dheeraj135 commented on #17
@sahilarora535 Please have a look on this page: https://dheeraj135.github.io/openprinting.github.io/contribute-website/ .

[2019-01-22 18:00] sahilarora535 commented on #8
@dheeraj135 Great work. Just some small changes. Please remove **Contributing** and **Tutorial** from title bar, and the order of links should be:

1. About Us
2. News and Events
3. Blog
4. Projects
5. Downloads
6. Driverless Printing
7. Contact Us
8. Donate

[2019-01-22 20:10] dheeraj135 commented on #5
@sahilarora535 Do we really need separate news and blog sections? If so, please elaborate role of both sections.

[2019-01-22 22:11] iramcdonald commented on #5
Hi,

I also think we should concatenate News and Blogs into one section/menu
item.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair - IEEE-ISTO PWG Internet Printing Protocol WG
IETF Designated Expert - IP

[2019-01-22 22:31] tillkamppeter commented on #5
My original intention was using the blog functionality of Jekyll for easily posting news items. A separate blog is not needed.

[2019-01-23 10:40] rithvikp1998 commented on #12
Resolved within #20 itself

[2019-01-23 15:34] tillkamppeter commented on #22
On my Chromium browser (Ubuntu 18.10, "Version 71.0.3578.98 (Official Build) Built on Ubuntu , running on Ubuntu 18.10 (64-bit)") the blue lines appear under the main menu entries when hovering over them.

[2019-01-23 16:42] dheeraj135 commented on #22
@tillkamppeter Blue line appears, but animation is not working.
This is the animation for blue line:
```  transition: all 0.2s ease-in-out;  ```
Can you please verify whether animation is working on your browser?

[2019-01-23 16:45] tillkamppeter commented on #22
I have opened the page on Firefox now and now I see what you mean. This animation is actually missing on Chromium.

[2019-01-23 18:13] dheeraj135 commented on #5
I am working on this issue.

[2019-01-27 10:37] #8 closed

[2019-01-27 10:39] sahilarora535 commented on #13
Closed in #21

[2019-01-27 10:39] #13 closed

[2019-01-27 10:39] sahilarora535 commented on #17
Closed in #21

[2019-01-27 10:39] #17 closed

[2019-01-27 10:58] #11 closed

[2019-01-27 10:59] sahilarora535 commented on #14
Closed in #20
Thank you very much @rithvikp1998

[2019-01-27 10:59] #14 closed

[2019-01-27 11:03] sahilarora535 commented on #12
Thank you very much @rithvikp1998

[2019-01-27 11:03] #12 closed

[2019-01-27 13:56] sahilarora535 opened #24 "Remove unnecessary placeholders from the front page"
These placeholders are not required for the website. They need to be removed,
![image](https://user-images.githubusercontent.com/12633577/51801865-453c4900-2269-11e9-95ba-f32957f37768.png)

[2019-01-27 14:01] sahilarora535 opened #25 "Add comment dialogue to pages"
Right now, we do not have a capability that a user can comment on a page we wrote. We need to enable commenting capability in the website using disqus or some other framework. WDYT @tillkamppeter , would this make sense?

[2019-01-27 14:11] sahilarora535 commented on #3
Duplicate: #4

[2019-01-27 14:11] #3 closed

[2019-01-27 14:13] sahilarora535 commented on #7
Duplicate: #18

[2019-01-27 14:13] #7 closed

[2019-01-28 05:56] dheeraj135 commented on #25
@sahilarora535 I think we need this comment feature only on posts(News and Events).

[2019-01-28 06:53] rithvikp1998 commented on #16
I put up a blank page in https://github.com/OpenPrinting/openprinting.github.io/pull/27/commits/cc9a79eb10af2c078b27af50d281a8c2a1705fe5 but I have no ideas about the content that should be in it.

[2019-01-29 16:50] dheeraj135 commented on #25
I will be working on this issue.

[2019-01-29 18:10] dheeraj135 commented on #25
@tillkamppeter Can you please share Disqus short-name of your account?

[2019-01-29 18:18] tillkamppeter commented on #25
The Disqus user name is tillkamppeter

https://disqus.com/by/tillkamppeter/

[2019-01-29 19:07] dheeraj135 commented on #25
@tillkamppeter This is not short-name. Disqus now needs short-name for the website. You will have to add a new site in the [admin panel of Disqus](https://disqus.com/admin/).

[2019-01-29 20:31] tillkamppeter commented on #25
I have found it now, the web site short name is `openprintingorg`.

[2019-01-30 07:17] dheeraj135 commented on #25
We cannot use ``` openprintingorg ``` because it shows ads. I created another web site with a plan without ads(pro account) for testing purposes. [Link](https://dheeraj135.github.io/dheeraj135.github.io_change/website-is-up/).

I think Disqus allows you to change subscription of your web site. So, either we need to change subscription or create a new web site with required subscription.

[2019-01-30 08:00] dheeraj135 commented on #15
@iramcdonald @tillkamppeter @sahilarora535 Please have a look into this introduction: [Google docs](https://docs.google.com/document/d/1rnaqkFX7Dsjp7xecyWV3Fum15EKZRC3PJ2kH4Nz7UrA/edit?usp=sharing). Please feel free to edit it and post comments.

We can also use this introduction in **about** section. @rithvikp1998

[2019-01-30 18:18] tillkamppeter commented on #15
I have edited the text somewhat, mainly for upper/lowercase and the correct project names. "PWG" should be a link to www.pwg.org.
We should change the text somehow that "OpenPrinting" does not appear that often. Perhaps we should put OpenPrinting's projects/work areas into a bulleted list.

[2019-01-30 18:21] tillkamppeter commented on #25
We should perhaps find some free software comment system to run on the old OpenPrinting server) there I am root and it stays running for the Foomatic database). This way the Linux Foundation is hosting and we have no costs, neither money to pay nor ads to accept. We also keep the control on the content of the user comments.
We should always avoid external commercial services.

[2019-01-31 02:33] iramcdonald commented on #15
Hi,

I agree with Till - a bullet list of OP projects might be crisper and more
readable.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair - IEEE-ISTO PWG Internet Printing Protocol WG
IETF Designated Expe

[2019-01-31 07:34] dheeraj135 commented on #15
@rithvikp1998 Looks good to me. You can use this text in the about page.
For the introduction we need only one or two lines. I will work on the introduction.

[2019-01-31 12:13] dheeraj135 commented on #6
@sahilarora535  I am not able to understand this issue. Can you please elaborate?

[2019-02-01 09:55] #18 closed

[2019-02-01 10:01] #24 closed

[2019-02-03 10:11] sahilarora535 commented on #24
@rithvikp1998 Thank you for closing this.

[2019-02-03 10:13] sahilarora535 commented on #18
@rithvikp1998 Thank you very much for closing this.

[2019-02-03 10:58] sahilarora535 commented on #25
@dheeraj135 Have a look at what all commenting frameworks are already added to the theme: https://mmistakes.github.io/minimal-mistakes/docs/configuration/#comments

[2019-02-03 11:28] sahilarora535 opened #29 "Add content to the 'About Us' page"
Add content for 'About Us' page. We might need help here from the organization admins.
The starting point can be: https://wiki.linuxfoundation.org/openprinting/start

[2019-02-03 13:44] rithvikp1998 commented on #16
Fixed with e6c6051832cab29a5785eadb5160f43ecc2f76f3

[2019-02-03 13:44] #16 closed

[2019-02-03 14:57] sahilarora535 opened #30 "Add a projects page listing all the projects which come under openprinting"
Create a `Projects` page with the link `projects`. Initially, this page can be empty, then we can keep filling in content. The `projects` should be a Jekyll collection and all the sub-projects should be inside that.

[2019-02-03 15:04] sahilarora535 opened #31 "Add projects and content to the projects page"
The `projects` page should have some content and useful information about the different projects it has. Ideally, the `projects` should be a collection with a list of pages which describe each project. Then, in each project's page, we should have a link to the documentation of that particular project. This will should be the complete flow of the projects site.
Depends on: #30

[2019-02-03 15:09] dheeraj135 commented on #30
I will work on this issue.

[2019-02-03 15:17] #4 closed

[2019-02-03 15:22] sahilarora535 opened #32 "Create a page for `Contact Us`"
There should be a page in the `_pages` directory which would contain information for contacting the Openprinting admins or getting in touch with the team. The link to the page should be there in the title bar's `contact` section: https://openprinting.github.io/contact/

[2019-02-03 15:24] sahilarora535 opened #33 "Add content to the 'Contact Us' Page"
Add content to the `Contact Us` page which would be located here: https://openprinting.github.io/contact/

Depends on: #32

[2019-02-03 15:26] sahilarora535 opened #34 "Create a 'Donations' page"
Create a `Donations` page in the `_pages` directory which would contain the different ways someone can donate to openprinting. The page should be located here: https://openprinting.github.io/donations/
Initially, the page should be empty, we will create a new issue to add data to it.

[2019-02-03 15:28] sahilarora535 opened #35 "Add content to the 'Donations' page"
Add content to the `Donations` page.
Depends on: #34

[2019-02-03 15:30] sahilarora535 opened #36 "Add a 'Downloads' page"
Location: https://openprinting.github.io/downloads/
Inside '_pages'.
This page can be empty at the start, we'll create a new issue for the content.

[2019-02-03 15:32] sahilarora535 opened #37 "Add content to the 'Downloads' page"
Add content to the `Downloads` page located here: https://openprinting.github.io/downloads/
Depends on: #36

[2019-02-03 15:37] sahilarora535 opened #38 "Add a collection for 'Driverless Printing'"
`Driverless Printing` should be made as a collection and a page should be made with the link embedded in the title bar as there is now:
![image](https://user-images.githubusercontent.com/12633577/52178696-a8912280-27f7-11e9-9529-a2391d7ed54d.png)

[2019-02-03 15:44] sahilarora535 opened #39 "The GSoC 2019 projects page should have sidebars"
Create two navigation sidebars, one with links to different projects on the left, and one on the right with the contents of the page, for the GSoC 2019 page. Have a look here for a sample: https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/

This is a feature supported natively in the theme.

![image](https://user-images.githubusercontent.com/12633577/52178788-86e46b00-27f8-11e9-9

[2019-02-03 15:46] sahilarora535 commented on #6
@AveekBasu could you please elaborate more on this?

[2019-02-03 22:19] iramcdonald commented on #34
Hi,

This may have changed, but...

OP is not an incorporated entity in its own right.

In the past it was impossible to make a financial donation to OP.  One could
only make a donation to Linux Foundation that was earmarked for use by OP
(and that notation was non-binding on LF).

Till may know the current status.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted

[2019-02-04 07:16] sahilarora535 commented on #34
@tillkamppeter Could you kindly shed some light on this?

[2019-02-04 11:06] tillkamppeter commented on #34
@iramcdonald, I think there nothing has changed. We can perhaps simply tell that it is this way on our donations page.
We also should say that we are accepting hardware samples for testing and development.

[2019-02-05 11:05] AveekBasu commented on #6
@sahilarora535 @dheeraj135  was referring to have some section like this as they have in the libreoffice.org page

<img width="1232" alt="screenshot 2019-02-05 at 4 33 39 pm" src="https://user-images.githubusercontent.com/43844537/52269392-e9a64580-2963-11e9-93d0-48bd254632a9.png">

[2019-02-05 12:41] dheeraj135 commented on #38
@sahilarora535 What will this collection contain?

[2019-02-05 13:51] dheeraj135 commented on #39
I am working on this issue.

[2019-02-06 21:08] tillkamppeter commented on #15
Note that we did not yet have any collaboration with SANE. This summer will be the first time where we work on IPP scanning, and there we do not yet know whether we really get SANE developers working with us (for example as mentor) or whether we simply only contribute the SANE driver for driverless IPP network scanners to the SANE project.

[2019-02-06 22:32] dheeraj135 commented on #15
Thanks @tillkamppeter for the input. I will change it.

[2019-02-11 18:35] dheeraj135 commented on #25
We have following alternatives:
1. Disqus
We can use their free service which doesn't serve ads. We will not have to worry about hosting and other stuff. The only issue is that we can have only up to 50000 daily page views.  Disqus also have one of the best UI.
2. Discourse
Discourse requires proper hostname for the server(IP will not work) and HTTPS needs to be set up.
3. Talkyard
Talkyard is eas

[2019-02-11 19:01] tillkamppeter commented on #25
Note also that Google+ is discontinued and will shut down on April 1st (other Google services like GMail, Google Drive, ... continue).
Note also that not everyone (including me) wants to have a Facebook account.
The 50000 pafe views limit of Disqus is a risk.
I think Discourse is a good choice.

[2019-02-12 10:27] dheeraj135 commented on #25
@tillkamppeter So, let's go with Discourse. You will have to set up the Discourse server.

[2019-02-12 10:55] dheeraj135 commented on #35
@tillkamppeter As it was discussed on Issue #34 , we cannot donate directly to OP. So, what is the exact way to donate money to OP? No, such way was mentioned on the [previous page](https://wiki.linuxfoundation.org/openprinting/database/howtocontribute#money_hardware_events).

[2019-02-12 11:40] Sharadd15 commented on #37
I would like to work on this issue. @sahilarora535, @AveekBasu  can you please tell me what is the content should be added on this page ?

[2019-02-12 12:06] Sharadd15 commented on #33
@sahilarora535  can we implement mailer for this using php? the user will enter the name and a valid email address and a message box to write the message. The user will receive a thank you mail from us and we can forward the message to our mail-list ? or you have something else in mind ? i would like to work on this

[2019-02-12 12:36] dheeraj135 commented on #33
@Sharadd15 This website is a static website, hosted on Github pages and powered by Jekyll. So, we cannot use any server-side languages. For the Contact Us page, we simply need to describe the ways in which a person can contact OP WG like mailing lists. Do have a look here: [Mailing Lists](https://wiki.linuxfoundation.org/openprinting/development#mailing_lists).
This issue depends on #32 . That iss

[2019-02-12 12:48] dheeraj135 commented on #37
@Sharadd15 Please do have a look here: [Downloads](http://www.openprinting.org/download/). Most of the content is already there on the old website, we just have to migrate it. Please use Jekyll layouts and markdown for writing the page.

@sahilarora535 @tillkamppeter For the downloads, should we add that content to this repo itself or let them stay on the old website.

[2019-02-12 13:20] Sharadd15 commented on #33
Yeah I noticed that a bit later but still we can make a form by using some external source like [forms free](https://formspree.io/) which provides with free 1000 submissions per month . if we will be having less than 1000 submission per month then this will be more user interactive or we can just create the page with the three mailing list as described on this page [Mailing Lists](https://wiki.lin

[2019-02-12 13:38] dheeraj135 commented on #33
@Sharadd15 It is better not to make any assumptions as discussed here: #25 . Also, we are planning to deploy discourse server, after server is deployed users can directly discuss on discourse forums.

[2019-02-12 15:49] tillkamppeter commented on #37
Please leave the downloadable files itself on the old server and do not make them part of a GIT repository. GIT is not made for managing binary files and these downloadable files would make the site's repo huge, making its download near impossible.

[2019-02-12 15:55] tillkamppeter commented on #33
I am against formspree, as as most commercial services they are limited for non-paying users. It should not be too complex to code a simple web form which takes the content of the input field and send it to an e-mail address (probably there is already some free software doing this).

[2019-02-12 16:15] iramcdonald commented on #25
Hi,

WAIT!  The chance of 50,000 *daily* page views is ZERO.
I favor the simpler to set up and maintain Disqus option.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair - IEEE-ISTO PWG Internet Printing Pro

[2019-02-12 16:29] iramcdonald commented on #35
Hi,

As Till and I pointed out on issue#34, since OP is not a legally
incorporated entity
in its own right (i.e., separate from Linux Foundation), no one can donate
directly
to OP.  Donations to Linux Foundation that are earmarked (by donor comments)
for OP are inherently fragile and are not legally binding on Linux
Foundation.

People *can* donate their time (as designers, coders, etc.).  Also, a

[2019-02-12 16:37] tillkamppeter commented on #35
We could also accept donations for travel of developers to conferences. In this case the developer needs to get reimbursed directly by the donator.

[2019-02-12 16:56] iramcdonald commented on #35
Hi Till,

For direct reimbursement of developers for travel by donors, we should bear
in mind that in some countries, (e.g., USA), the donor and developer both
have
to report the donation to the federal tax authorities (e.g., IRS in USA) by
law.

That's why I would prefer not to mention this procedure on our web pages.

Cheers,
- Ira

PS - Speaking here as the owner of a US corporation who spends

[2019-02-12 18:52] sahilarora535 commented on #25
I agree with @iramcdonald. Disqus is safe bet here. A lot of the open source sites use it, and it will be a lot of pain to maintain a discourse server if we don't intend to use it, which we don't at the moment. We must avoid any complex and unnecessary setup. I think Disqus is the best bet here.

[2019-02-12 18:58] sahilarora535 commented on #33
@Sharadd15 @dheeraj135 Thank you for your valuable inputs. The purpose of contact us page is that anyone should be able to contact us. So even if we have a simple email to send an email to, that would do the same task as a form where user will write his content. Usually, people create such contact us forms when either they don't want to be contacted, or they don't want to share their email. We don

[2019-02-12 20:42] iramcdonald commented on #33
Hi,

Yes I agree that a simple email address is best for the contact info.
We don't want to hide or discourage contact.  We want people to
find us easily.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair -

[2019-02-13 09:53] dheeraj135 commented on #25
@tillkamppeter @iramcdonald @sahilarora535 I suggest we should right now go with Disqus and switch to Discourse if website traffic starts increasing.

We can consider setting up Discourse forums as a future goal. After forums are set up, it can be used to replace mailing lists and provide the OpenPrinting community with a better platform to discuss.

[2019-02-18 11:01] dheeraj135 commented on #25
@tillkamppeter @iramcdonald @sahilarora535 What is the final decision on this issue?

[2019-02-18 11:05] dheeraj135 commented on #31
@sahilarora535 Does this [page](https://wiki.linuxfoundation.org/openprinting/database/projects) contains all the projects of OP?

[2019-02-18 11:30] tillkamppeter commented on #31
This page is totally outdated.
Current free software projects are:
- cups-filters
- ippusbxd
- Foomatic
- Common Print Dialog Backends
As printing systems/spoolers we currently only support CUPS as this is what is actually used and everything else (like LPD, LPRng, ...) is not maintained upstream any more.
what we also do in general:
- Implementing PWG standards for Linux and other Posix-style ope

[2019-02-19 14:57] Sharadd15 commented on #38
@dheeraj135  are you working on this?

[2019-02-19 18:48] sahilarora535 commented on #25
I'd prefer Disqus and get the site running, and if we face a problem in the future, then find an alternative solution. I hope that makes sense.

[2019-02-19 23:06] iramcdonald commented on #25
Hi,

I agree with Sahil.  Consensus is Disqus.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEEE-ISTO Printer Working Group
Co-Chair - IEEE-ISTO PWG Internet Printing Protocol WG
IETF Designated Expert - IPP & Printer MIB
Blue Roof Music / Hi

[2019-02-20 08:05] tillkamppeter commented on #25
OK, let us go with Disqus.

[2019-02-20 19:00] #15 closed

[2019-02-21 03:34] dheeraj135 commented on #38
@Sharadd15 If you want to work on this, Please go ahead.

[2019-02-21 09:58] Sharadd15 commented on #38
Okay i am working on this issue. @sahilarora535 please can you elaborate a bit about what we want the page should contain ?

[2019-02-21 15:54] iramcdonald commented on #38
Hi,

I suggest that Till could provide appropriate Driverless Printing overview.

OpenPrinting committed to IEEE-ISTO Printer Working Group last May
to include brief notes about the IPP Everywhere standard and PWG
manufacturer self-certification tools and process and put the IPP
Everywhere logo on the OP Driverless Printing new webpage.

Here are the links:

http://www.pwg.org/ipp/everywhere.html

[2019-02-21 16:03] dheeraj135 commented on #38
Hi @iramcdonald ,
The attachment was not received. Can you please share link to the logo?

[2019-02-21 16:08] iramcdonald commented on #38
Hi,

Logo is a PNG image on the top left of the main IPP Everywhere page.
There is *intentionally* no public direct link to the logo, because only
vendors w/ certified printers or collaborating standards bodies (e.g.,
OP) can legally show the logo - cut-and-paste worked fine for me.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair -

[2019-02-21 17:47] Sharadd15 commented on #38
hi @iramcdonald ,
We have to put the logo and the brief notes(read the document shared by you and write briefly about it) from the links you have shared and the links as well?
anything else ?

[2019-02-21 19:18] iramcdonald commented on #38
Hi,

Yes, this is why Till needs to provide input here.  We should briefly
talk about the Apple AirPrint driverless printing infrastructure (which
is also based on IPP/1.1 and differs by only a few attributes from
IPP Everywhere).  But AirPrint *also* includes the Apple proprietary
URF raster format (which like PWG Raster is a subset of CUPS
Raster).  Likewise, Wi-Fi Direct Printing (I forgot the

[2019-02-24 15:05] #36 closed

[2019-02-24 15:05] #32 closed

[2019-02-24 15:05] #35 closed

[2019-02-24 15:07] sahilarora535 commented on #34
Closed in f0e95dc0619324b6bf35a3cc6f6a41c945d05fe9

[2019-02-24 15:07] #34 closed

[2019-02-26 10:08] dheeraj135 opened #48 "Change CSS of links."
Currently, links in the body look like this:
![screenshot from 2019-02-26 15-37-20](https://user-images.githubusercontent.com/28601604/53404851-847ec680-39dc-11e9-86af-37d2b8791cef.png)

They should look something like this:
![screenshot from 2019-02-26 15-37-05](https://user-images.githubusercontent.com/28601604/53404856-89437a80-39dc-11e9-98d1-4ec1c836f435.png)

Suggestions are welcome.

[2019-02-26 13:00] dheeraj135 commented on #38
@tillkamppeter Can you please provide us some more input on Driverless printing?

[2019-02-26 21:32] tillkamppeter commented on #38
Here are my most recent [slides of cups-filters/ippusbxd](https://ftp.pwg.org/pub/pwg/liaison/openprinting/presentations/cups-filters-ippusbxd-2018.pdf) containing a lot of info about driverless printing.
These are [Mike Sweet's slides about CUPS](https://ftp.pwg.org/pub/pwg/liaison/openprinting/presentations/cups-plenary-may-18.pdf) also containing info about driverless printing.
Both are from th

[2019-02-28 14:08] dheeraj135 commented on #38
@Sharadd15 Are you working on this issue?

[2019-02-28 14:40] Sharadd15 commented on #38
@dheeraj135 yes I am working on this

[2019-03-03 07:40] Sharadd15 commented on #38
@tillkamppeter do we have add all the content on one page ?
or do we have to create a collection of pages ?
If we are creating collection of pages then in which way do we have to sort the content?

[2019-03-03 10:41] dheeraj135 commented on #38
@Sharadd15 I suggest, create pages like "What is driverless printing?", "How driverless printing works?" and "Common Standards.". We will need a page for driverless printing(in the _pages directory).

[2019-03-03 18:39] tillkamppeter commented on #38
I think the text that I have written in my comment is not too long for a single page. Splitting it up on several pages could even make each page very small. Only if you add a lot of additional text one could consider a splitting (or at least add section titles and make them accessible by a table of contents/navigation sidebar.

[2019-03-04 05:56] #5 closed

[2019-03-04 05:58] #30 closed

[2019-03-04 05:58] #31 closed

[2019-03-04 05:59] #37 closed

[2019-03-04 05:59] #33 closed

[2019-03-04 06:00] #29 closed

[2019-03-04 06:01] #39 closed

[2019-03-05 17:16] #38 closed

[2019-03-12 14:28] dheeraj135 opened #54 "Migrate foomatic database."
Reference: [Github Project Link](https://github.com/OpenPrinting/openprinting.github.io/projects/1#card-14830318)
It is not possible to host server-side applications on GitHub, so PHP is out. I think the required task can be accomplished with Jekyll, but it will require all the files to be present in the GitHub repo. @tillkamppeter @sahilarora535

[2019-03-13 04:07] sahilarora535 commented on #54
@dheeraj135 I do not have much context on this one. Could you please explain in detail what the problem exactly is and why we need a database, what is exactly stored in the database and who needs access to the DB?

[2019-03-13 10:50] tillkamppeter commented on #54
For the Foomatic migration we do not intend to pull the whole thing away from the LF's servers, but what we need to do is the following:
1. Move the BZR repositories related to Foomatic and the web app to GitHub, converted to GIT (preserving commit history).
2. Modify the code of the (PHP) web app (which will stay running on the server where it is currently running) and its accompanying scripts to

[2019-03-13 15:27] dheeraj135 commented on #54
@tillkamppeter Can you please provide links to the relevant bazaar repositories?

[2019-03-13 17:20] tillkamppeter commented on #54
These are the BZR repositories of what is still in use:
- foomatic-db: http://bzr.linuxfoundation.org/loggerhead/openprinting/foomatic/foomatic-db/files
- foomatic-db-engine: http://bzr.linuxfoundation.org/loggerhead/openprinting/foomatic-4.0/foomatic-db-engine/files
- web app: http://bzr.linuxfoundation.org/loggerhead/openprinting/misc/printing-new-devel/files

[2019-03-13 17:22] tillkamppeter commented on #54
By the way, this is the full set of old BZR repositories of OpenPrinting, but most are not maintained any more:
http://bzr.linuxfoundation.org/loggerhead/openprinting/

[2019-03-14 04:48] dheeraj135 commented on #54
I have pushed the repositories on GitHub:
foomatic-db : https://github.com/dheeraj135/foomatic-db
foomattc-db-engine: https://github.com/dheeraj135/foomatic-db-engine
Web App: https://github.com/dheeraj135/OpenPrinting-Web-App
@tillkamppeter Please move these repositories to OpenPrinting Organization, so that we can use OpenPrinting repositories in PHP code and other scripts.

[2019-03-16 09:50] dheeraj135 commented on #54
@tillkamppeter I am having some trouble in setting up phpCAS. What is the best way to test all the scripts for git? Is phpCAS necessary for testing purposes? If phpCAS is necessary, which version do you use on your server and how to configure it on apache?

[2019-03-16 12:30] tillkamppeter commented on #54
[phpCAS](https://apereo.github.io/cas/6.0.x/index.html) seems to be the single-sign-on system of the Linux Foundation. It is used in the following files:
- `inc/session.php`
- `inc/user.php`

Probably it is for supporting features where users can contribute data. For interaction with GIT or BZR repositories it should not be relevant.

[2019-03-16 13:06] dheeraj135 commented on #54
@tillkamppeter ```To transfer repositories to an organization, you must have repository creation permissions in the receiving organization.```. I don't have sufficient permissions to create a repository on OpenPrinting organization.
Error:
```You don’t have the permission to create repositories on OpenPrinting ```

[2019-03-16 15:09] tillkamppeter commented on #54
I have now simply imported all the relevant projects by myself, to make it simpler.
I havre done the following changes/corrections:
- Added foomatic-db-nonfree, I had forgotten it in the first place
- I have added 2 repositories for foomatic-db-engine. foomatic-db-engine is the development branch used by the web app, foomatic-db-engine-4 (it has releases) is the stable branch used by the distros.

[2019-03-16 16:31] tillkamppeter commented on #54
Descriptions added.

[2019-03-16 16:41] dheeraj135 commented on #54
@tillkamppeter Can you please share versions of mysql, php, apache and linux distro you are using on the server?

[2019-03-16 17:32] tillkamppeter commented on #54
Distro: Ubuntu 12.04.5 LTS (GNU/Linux 3.2.0-126-generic x86_64)
Packages for MySQL, PHP, Apache installed on the server, with their versions:
[code]
Note that the actual MySQL database is on an external server, but it should use similar versions.

[2019-03-16 17:38] tillkamppeter commented on #54
[Here](http://www.openprinting.org/download/tmp/apache-config.tar.gz) is the content of the server's /etc/apache2/ directory.

[2019-03-16 17:45] tillkamppeter commented on #54
What you need to do at first is to create a script
[code]
which does the same as
[code]
but taking the changes from the GIT repository and not from the old BZR repository.
To make testing easier you should perhaps modify the files `inc/session.php` and `inc/user.php` so that they do not break anything if phpCAS is missing. The should handle the absense gracefully (to at least have read-only access

[2019-03-21 07:04] dheeraj135 commented on #54
@tillkamppeter I have ported all the relevant scripts to use git. I need to test them. I have tested ```importfromgit```.  What is the best way to test all the scripts?

[2019-03-21 17:28] tillkamppeter commented on #54
Could you make your new code/scripts available to me? I could test them on the real server.
Did you try to set up a server by yourself?

[2019-03-22 13:33] dheeraj135 commented on #54
I do have a server set up(except for authentication). Scripts are available here: https://github.com/dheeraj135/foomatic-db-webapp/commit/7700e4bb3e30bc71745cec09ad43d82290df58e8  and [Github Repo](https://github.com/dheeraj135/foomatic-db-webapp). Please test the scripts on the real server because only you know about all the possible scenarios.

[2019-03-22 20:27] tillkamppeter commented on #54
@dheeraj135, thank you very much for your scripts. Did you test all of them? If yes, how? Did you succeed to make a working copy of the server/the web app? You could fork foomatic-db and foomatic-db-nonfree into your GitHub and then let your server point to your GitHub, then do changes in foomatic-db and/or foomatic--db-nonfree on your GitHub (including adding/removing/modifying XML files and manu

[2019-03-22 20:36] dheeraj135 commented on #54
No, I didn't test all of them. I have a working copy of the web app in a virtual machine running Ubuntu 12.04. I will test the scripts.

[2019-03-22 21:57] dheeraj135 commented on #54
@tillkamppeter I have found some serious bugs in the scripts. I will make the required changes and then notify you.

[2019-04-01 09:43] tillkamppeter commented on #54
@dheeraj135, did you work on the "serious bugs" which you have found?

[2019-04-01 09:46] dheeraj135 commented on #54
@tillkamppeter I am working on it.

[2019-04-01 18:26] dheeraj135 commented on #54
Hi @tillkamppeter,
We have many printers and drivers which are not included in the foomatic package [Example](http://openprinting.org/printer/Brother/Brother-MFC-J480DW), but these are necessary for the web app.

Possible Solution:
We can create another package especially for the web app(something like ```foomatic-db-untrusted``` ) and use that for setup purposes.

Next issue is, some printers are

[2019-04-01 18:46] tillkamppeter commented on #54
The printer entry which you have given as example is a user contribution without our approval. It should not be in the foomatic-db package. It is only a printer entry with no driver entry related to it. These are only in the server's MySQL database not in Foomatic XML. These entries will stay conserved if on the server the old BZR-based we app is replaced by the new GIT-based one, so no extraction

[2019-04-02 20:33] dheeraj135 commented on #54
@tillkamppeter, I have updated the scripts [Github](https://github.com/dheeraj135/foomatic-db-webapp). Please test all scripts on the server.
For testing ```updatemysqlfromgit```, I added and removed some files from the repository.
```makesnapshotgit``` is also working fine.
I was not able to test ```commitppdtogit```, because I was not able to add ppds on the server. How to test this script?
If y

[2019-04-04 18:25] tillkamppeter commented on #54
What is `loaddb` good for? Is it for initial population of the empty database with the Foomatic GIT repos? Or is it to update the populated MySQL database with the last changes (this I would expect is the task of `updatemysqlfromgit`, what would be the difference then?)?

[2019-04-04 18:39] dheeraj135 commented on #54
@tillkamppeter ```loaddb``` is only for the initial population of the empty database.
```loaddb``` is important because when we use ```git diff``` to get files changed between initial and current commit, files which are not changed after the initial commit are not loaded into the database. ```loaddb``` also addresses the "printers getting deleted" issue which I mentioned earlier.

[2019-04-04 18:53] tillkamppeter commented on #54
Are sure that your `loaddb` script is not adding printers to the database which were created somewhere in the history of Foomatic and later deleted again? Is it not much simpler and safer for an initial population of the MySQL database to clone foomatic-db and foomatic-db-nonfree, copy its `db/` subdirectories into the same temporary directory and then import all these files into the MySQL databas

[2019-04-04 18:57] tillkamppeter commented on #54
Another thing:
On the production server the MySQL database is already populated.
So can I replace the server's foomatic/foomatic-db and foomatic/foomatic-db-nonfree directories by `git clone`s of the appropriate repos and from then on run `updatemysqlfromgit` (I have already manually copied your new files onto the production server) on the server to update the MySQL database with the changes in th

[2019-04-04 19:32] dheeraj135 commented on #54
I was thinking about the same thing. I will change the```loaddb``` script.

Regarding ```updatemysqlfromgit```:
It should work. But I suggest not to try directly on the production server.

[2019-04-04 19:59] tillkamppeter commented on #54
I have switched over the server. Thank you very much for your work.
Please make a pull request of your repo, so that I can take your scripts into the official repo.

[2019-04-08 14:14] tillkamppeter commented on #54
@dheeraj135, thank you for the [pull request #1 on foomatic-db-webapp](https://github.com/OpenPrinting/foomatic-db-webapp/pull/1). I have merged it now and so from now on we will use GIT also for Foomatic.
Next step for the web app is to match its appearance with the new web site.

[2019-04-08 14:14] #54 closed

[2019-04-09 10:56] dheeraj135 opened #55 "Add links to Openprinting webapp."
The homepage and navigation bar should contain links to [printer](http://openprinting.org/printers) and [printer driver](http://openprinting.org/drivers) databases.

[2019-09-03 20:50] tillkamppeter opened #58 "OpenPrinting database web app needs to get converted to the new corporate identity"
The web app for accessing the OpenPrinting printer/driver database:
http://www.openprinting.org/printers/
http://www.openprinting.org/drivers/
needs to get the outfit of our new web site: log, colors, ...

[2019-09-06 11:07] sahilarora535 commented on #58
@tillkamppeter If this database at the backend of these two pages is not sensitive, could we get a dump of the data the database has, so that we can come up with a design on how to add this to the new website?

[2019-09-06 11:18] dheeraj135 commented on #58
Hi Sahil,

The webserver's code is located at
https://github.com/openprinting/foomatic-db-webapp
It automatically pulls any changes in the foomatic-db github repository and
updates the server. This way we only have to update the foomatic repository.
The current webserver is running on Ubuntu 12.04.

On Fri, Sep 6, 2019, 4:37 PM Sahil Arora <notifications@github.com> wrote:

[2019-09-06 14:14] dheeraj135 commented on #58
@tillkamppeter In the footnotes of webpage https://openprinting.org/printers, we have ```Copyright 2013 Linux Foundation. All rights reserved.```. Should we remove it?

[2019-09-06 15:29] #55 closed

[2019-09-19 12:30] tillkamppeter opened #60 "OpenPrinting database web app: Links/menus on its pages need to point to locations on new web site"
The pages of the Foomatic database web app have a navigation bar near the top and also links throughout the pages. They need to pint to the appropriate pages of the new web site (which is online under www.openprinting.org now).

[2019-09-19 12:35] tillkamppeter opened #61 ".htaccess file: Add rules to forward old URLs to new pages"
The .htaccess file (in the foomatic-web-app repo)  allows to carry any amount of rules to redirect old URLs (which could be linked from somewhere)  to pages of the new site. Feel free to add rules here.

The most important rule, letting www.openprinting.org be redirected to https://openprinting.github.io, I have already added.

[2019-09-20 10:10] tillkamppeter commented on #60
Done. Thank you very much.

[2019-09-20 10:10] #60 closed

[2019-09-20 10:11] tillkamppeter commented on #58
Done, thanlk you very much, @dheeraj135!

[2019-09-20 10:11] #58 closed

[2019-10-08 13:22] tillkamppeter opened #62 "Let last three "News and Events" items appear on the front page"
The latest news should be visible on the front page, especially since I have started posting news today. The should appear similar to the "News and Events" page itself, but not only with title and excerpt but also with date and author's name.

[2019-10-09 18:56] iramcdonald opened #63 "Driverless Printing is hidden from OP home page"
From the home page, there should be a tab to Driverless Printing.

I could only navigate there via Projects->Miscellaneous
- oops.

Also, IPP Everywhere logo should be on the main Driverless
Printing page (not just in the Standards sub-page).

[2019-10-09 19:01] iramcdonald opened #64 "About Brief History typo and omissions"
Michael Sweet's first name is misspelled.

Also, Glen Petrie and Norm Jacobs should be
added to names of the original gang at FSG OP.

[2019-10-09 19:03] iramcdonald opened #65 "OP Search window is broken on Windows10/Firefox"
On my Windows 10 machine w/ Firefox (with ad blocking
disabled), the Search window is still broken.

Enter/Return does nothing.

There should be an explicit Submit button added.

[2019-10-09 23:42] sahilarora535 commented on #63
@iramcdonald The driverless printing page link is right on the menu bar of the website, it's collapsed:
![image](https://user-images.githubusercontent.com/12633577/66528110-6190c500-eb1c-11e9-847c-cdaf2bc6f211.png)

You can find it here: https://openprinting.github.io/driverless/

Also, you are right, we should add the IPP everywhere logo on all the driverless pages.

[2019-10-09 23:43] sahilarora535 commented on #64
@iramcdonald Thanks for raising this. I will look into it.

[2019-10-10 00:35] iramcdonald commented on #63
Hi Sahil,

Sorry - I didn't know it was a menu bar and had never opened it.

I'd still like to see Driverless Printing as a main topic under
Projects (and not hidden under Miscellaneous, which sounds
like "not very important" to me).

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Fou

[2019-11-09 00:03] tillkamppeter opened #66 "List of blog posts does not show authors and posting dates"
The [list of news (blog) posts](https://openprinting.github.io/news/) does not show the author's names and the posting dates in each blog post entry.

[2019-12-09 13:39] dheeraj135 commented on #65
Hi @iramcdonald, I looked into this. If we want to make the search work, we need to setup algolia and it looks a little bit time-consuming. When we get student contributors, we can float this as an assignment.

[2019-12-09 14:08] #64 closed

[2019-12-09 14:53] #63 closed

[2019-12-09 17:10] #62 closed

[2019-12-09 17:19] #66 closed

[2019-12-10 18:51] iramcdonald opened #71 "Add link for OP monthly call minutes to OP Website"
Till and Aveek can probably suggest just where to put this link.
For many years the OP monthly call minutes have been durably archived (in HTML) at:

http://ftp.pwg.org/pub/pwg/liaison/openprinting/minutes/

[2019-12-11 00:23] iramcdonald commented on #65
Hi,

Since Algolia is an *expensive* commercial search engine using proprietary
technology, I suggest that open source Elasticsearch is a better choice for
realtime search engine in OP website.

Cheers,
- Ira

Ira McDonald (Musician / Software Architect)
Co-Chair - TCG Trusted Mobility Solutions WG
Co-Chair - TCG Metadata Access Protocol SG
Chair - Linux Foundation Open Printing WG
Secretary - IEE

[2019-12-12 07:20] dheeraj135 commented on #65
@iramcdonald Algolia is free for the community. The free edition offers up to 50k searches each month. This is more than enough for OP.
We cannot use elastic search because the elastic search requires a server to run on. Our website is hosted on GitHub pages. The old OpenPrinting server runs on Ubuntu 12.04, so it will be very difficult to port current versions of elastic search to a 7 year OS.
So

[2019-12-13 09:06] dheeraj135 commented on #71
@iramcdonald We can add this link somewhere on the news and events section.
@JaiLuthra1 Can you please look into this issue?

[2019-12-13 13:31] ioctl-user opened #73 "Problems with indirect links for PPD"
I have submitted a form to support this printer: http://www.openprinting.org/printer/Brother/Brother-HL-5100DN . There was no possibility to upload ppd's, so I have to upload them to external WEB storage and pass URL. However, when I open this page, I cannot view or download ppd's , because they empty. Is it possible to fix this anyway?

[2019-12-13 20:49] #71 closed

[2020-02-05 17:18] wifiprintguy opened #76 "IPP Everywhere logo image on page doesn't load"
Going here:

https://openprinting.github.io/driverless/

there should be an IPP Everywhere™ logo image, which the PWG appreciates! But it is missing. Looking at the page source, the underlying image file URL "https://openprinting.github.io/assets/images/logo%20_ipp.png/" is a 404.

[2020-02-05 17:53] #76 closed

[2020-06-24 21:15] #25 closed

[2020-07-02 20:10] gaurivn commented on #48
I would like to work on this issue.

[2020-07-02 20:48] dheeraj135 commented on #48
Hey @gaurivn, Thank you for you interest. As you can see, the links in the first pic looks dull. I had previously done these changes on the [News page](https://openprinting.github.io/news/). These changes needs to be propagated to other pages i.e. [Projects](https://openprinting.github.io/projects/), [Upcoming Technologies](https://openprinting.github.io/upcoming-technologies/) and [Gsoc](https://

[2020-07-02 20:51] dheeraj135 commented on #22
This bug is not reproducible on latest chrome browsers. Closing this issue.

[2020-07-02 20:51] #22 closed

[2020-07-02 21:04] gaurivn commented on #48
Sure @dheeraj135, thank you for explaining.

[2020-07-04 10:14] gaurivn commented on #48
@dheeraj135, I have set up the environment, went through news, and the other parts whose links need to be changed but couldn't figure out where exactly to make changes...grateful if you could give more hints.

[2020-07-04 16:29] dheeraj135 commented on #48
This website is based on jekyll. In jekyll, we use layouts for pages. The news section uses posts.html layout. Look at the div tag with [class post](https://github.com/OpenPrinting/openprinting.github.io/blob/230f4900f14ae14486f857c921f2cb2dde385005/_layouts/posts.html#L24). We have custom css for post class. Note that the projects, upcoming technologies and gsoc page are using the collections lay

[2020-08-25 20:01] iramcdonald opened #95 "Update OP Driverless Printing page for IPP Everywhere v1.1 release"
The OP website Driverless Printing page at:
https://openprinting.github.io/driverless/01-standards-and-their-pdls/

...should be updated to note the release of IPP Everywhere™  v1.1 at:
https://ftp.pwg.org/pub/pwg/candidates/cs-ippeve11-20200515-5100.14.pdf
(which was released in May 2020 along with updated IPP Everywhere™ Self-Certification tools)

The Trademark symbol "™" should always be used w

[2020-08-25 20:05] iramcdonald opened #96 "Remove all mention of Google Cloud Print from OP Driverless Printing pages"
The discontinued Google Cloud Print (GCP) system should be removed from all of the OP Driverless Printing pages at:
https://openprinting.github.io/driverless/

[2020-09-08 14:42] Marti415 opened #100 "Canon-iR-ADV_C2020 printer driver does not work"
sorrry I'm not sure that I am at the good place and I think that I don't do things in the good way... but I really need help and I don't know how. It's someone who work for Purism who tell me to contact you for help. I try to install a

Canon-iR-ADV_C2020 printer on my Purism laptop (PureOS) but it's impossible! See our email discussion with what Tilix tell me, to understand my need :

« Reading p

[2020-09-11 19:01] tillkamppeter opened #101 "Please post the outcomes of GSoC 2020"
GSoC 2020 is over and I have reported the results in my September news post (with links to all work products):

https://openprinting.github.io/OpenPrinting-News-September-2020/

could you please also update the pages dedicated to GSoC? Thanks.

[2020-09-30 20:39] Signior-X commented on #48
@dheeraj135 should I try?

[2020-10-01 06:15] dheeraj135 commented on #48
Sure, please go ahead.

[2020-10-01 08:31] #48 closed

[2020-10-05 18:12] PIYUSHgoyal16 opened #105 "Add Content Navigation Bar in Right Side of Documentation pages"
The current documentation layout has no side navigation bar, and looks something like this:
![Screenshot from 2020-10-05 23-41-37](https://user-images.githubusercontent.com/43112419/95116234-59398d00-0764-11eb-95ed-135cfa67ecc8.png)

As the content on the upcoming pages is increasing, navigation to each section is becoming harder. To deal with such a bulkier page, I could break the content into mu

[2020-10-05 18:55] iramcdonald commented on #105
Hi,

This navigation sidebar sounds like a good idea to me!

Cheers,
- Ira

On Mon, Oct 5, 2020 at 2:12 PM Piyush Goyal <notifications@github.com>
wrote:

[2020-10-05 21:46] dheeraj135 commented on #105
@PIYUSHgoyal16 I think you want something like this: http://blog.pc.iitmandi.co.in/web-development-for-freshers/. If so, you only need to set ```toc : true``` and probably the ```toc_label```. For reference: https://raw.githubusercontent.com/KamandPrompt/blog/master/_posts/2020-05-25-web-development-for-freshers.md

[2020-10-05 21:48] dheeraj135 commented on #105
Official documentation for table of contents: https://mmistakes.github.io/minimal-mistakes/docs/helpers/#table-of-contents

[2020-10-05 23:13] Signior-X commented on #105
Should I try this one?

[2020-10-06 02:04] PIYUSHgoyal16 commented on #105
Not exactly, I want the sidebar to remain intact even when the user scrolls down. Something like the left-hand side, the author profile in case of your example :-)

[2020-10-06 02:05] PIYUSHgoyal16 commented on #105
Sure @Signior-X Do let us know if you are stuck somewhere :-)

[2020-10-08 07:00] #105 closed

[2020-10-08 07:26] rachitmanas commented on #96
I would like to work on this issue.

[2020-10-20 03:14] surajkulriya commented on #101
Sir isn't the information already updated?
https://github.com/OpenPrinting/openprinting.github.io/tree/master/_gsoc2020

[2020-10-20 03:33] surajkulriya commented on #96
@dheeraj135  sir I'm  not able to understand this issue completely. Can you please elaborate it a little bit more.

[2020-10-20 12:58] PIYUSHgoyal16 commented on #96
@surajkulriya You just need to remove the lines mentioning Google Cloud Print from https://openprinting.github.io/driverless/.
Just a tip: Google Cloud Print is mentioned only once ;P So remove that and make a PR for the same.
Still, if you are stuck, do let us know :-)

[2020-10-20 14:19] tillkamppeter commented on #101
@surajkulriya, what you mention is our project idea list of GSoC 2020. Now we need the results/outcomes of the GSoC 2020, what was actually done and achieved. I have reported this in my [monthly news post of September](https://openprinting.github.io/OpenPrinting-News-September-2020/) but we need it also on our GSoC 2020 page.

[2020-10-20 14:19] surajkulriya commented on #96
@PIYUSHgoyal16  @iramcdonald  sir since the issue has been solved and the branch has been merged I think we should close the issue now :-)

[2020-10-20 15:44] tillkamppeter commented on #96
Solved with pull request #110. Thank you.

[2020-10-27 02:49] surajkulriya opened #114 "Links not working properly on page https://openprinting.github.io/contribute/"
1)  Link [README of the foomatic-db-engine package](http://www.openprinting.org/foomatic-db-engine/README) is showing page not found error. You can find this link on page just by searching "Refer to the format description in the end of the README of the foomatic-db-engine package." using "CTRL+F" :-).

2) Link [forums](http://forums.openprinting.org/) is showing "this page can't be reached error".

[2020-10-28 17:22] PIYUSHgoyal16 commented on #114
@tillkamppeter I have verified the links are not working. Thanks, @surajkulriya for reporting this.
Please let us know where these links should direct to then either I or @surajkulriya could fix this issue.

[2021-02-21 11:58] dheeraj135 opened #124 "CUPS project page - CSS issues"
CUPS logo dimensions on this page need to be corrected. The current size is too large.

![Screenshot from 2021-02-21 22-42-43](https://user-images.githubusercontent.com/28601604/108624001-11dc4080-7468-11eb-9c21-4fab34faef1e.png)

[2021-02-25 20:36] tillkamppeter commented on #124
For me the logo is still huge in Chromium (of Ubuntu Hirsute) and correct in Firefox.

But should this issue not get removed to the CUPS repository as the CUPS site is coming from there.

[2021-02-25 20:36] tillkamppeter commented on #124
@michaelrsweet ?

[2021-02-25 21:43] michaelrsweet commented on #124
@tillkamppeter @dheeraj135 Weird, I didn't see this when I tested against Chrome, but I'll add explicit dimensions to the HTML template since it obviously isn't picking up the dimensions from the CSS...

[2021-02-25 21:44] michaelrsweet commented on #124
[gh-pages ada14b693] Add HTML image dimensions to fix Chrome rendering bug.

May take a few minutes to sync up on github.io...

[2021-02-25 21:59] michaelrsweet commented on #124
I updated chrome and am getting the same issue, even with the dimensions being specified in the HTML!

Definitely a Chrome bug, and after much experimentation it only happens when you specify the source in CSS, so I've pushed a change that moves that to the HTML...

[gh-pages 59641bc86] Don't use CSS for the navbar icon, as Chrome has a major rendering bug. Just use plain HTML.

[2021-02-25 22:03] michaelrsweet commented on #124
[gh-pages b86979729] Fix search controls for Chrome...

[2021-02-25 22:04] michaelrsweet commented on #124
OK, seems to be rendering consistently between Chrome, Firefox, and Safari for me...

[2021-02-25 22:06] tillkamppeter commented on #124
OK, now it works for me.

[2021-02-28 19:36] dheeraj135 commented on #124
It's now working for me. Thanks @michaelrsweet .

[2021-02-28 19:36] #124 closed

[2021-06-06 11:42] richardmarston commented on #114
I've also had a problem with this. The forum link is still not working. I wanted to update the entry for a particular printer, but from the printer's page it's not very clear how you can actually achieve this. It seems the solution is to add a new entry (if I read the 'Contribute' page correctly) which didn't occur to me because I thought that would create lots of duplicates to delete.

[2021-06-13 09:42] grahamperrin commented on #6
![image](https://user-images.githubusercontent.com/192271/121802414-0b025500-cc34-11eb-9179-9ac90118c8ca.png)

[2021-06-13 09:49] grahamperrin opened #130 "Content obscured by the footer"
### Examples

At https://openprinting.github.io/cups/ it's nearly impossible to click the three or more references:

![image](https://user-images.githubusercontent.com/192271/121802498-82d07f80-cc34-11eb-93b7-94335851b2d5.png)

<https://openprinting.github.io/cups/doc/overview.html#BEGIN> … from the _what_? At least one line is entirely invisible:

![image](https://user-images.githubusercontent.co

[2021-06-14 08:52] dheeraj135 commented on #130
Hey @grahamperrin, Which browser are you using and which device? It is working perfectly fine for me.

[2021-06-14 08:54] dheeraj135 commented on #130
These pages are served from the ```cups``` repository. Transferring this issue.

[2021-08-19 14:22] genodeftest opened #132 ""Help" link is dead – No idea where to get help"
Background: I get weird artifacts so I wanted to have a look where I can get help for that problem.

A search engine sent me to https://openprinting.github.io/cups/doc/reporting-bugs.html which contains a prominent link [Help / Documentation](https://openprinting.github.io/index.html#DOCUMENTATION).

What happens:
After clicking that link, I can see documentation but no way to get help.

What do I

[2021-10-07 18:01] diddledani opened #134 "Images on downloads page need fixing in dark mode"
When your browser is set to dark mode, and thus triggering the page to be black due to the `@media (prefers-dark-mode: true) {}` CSS rules, the images on https://openprinting.github.io/downloads/ are not visible. This is because they are black lines with transparency and so they blend with the dark mode black page background.

A fix could be to use something like CSS rule of `filter: invert();` bu

[2021-12-20 11:18] NeilRickards opened #136 "Login not working"
The [login link](https://openprinting.org/login) at https://openprinting.org/printers redirects to https://identity.linuxfoundation.org/cas/login which is giving an "unknown service" response

[2022-02-09 11:19] bryanpedini opened #138 "Tell on the site that most printers are driverless IPP"
Hi 👋🏻 (newcomer here)

Don't know if it's acceptable in this new community I'm diving into, but I would like to make a feature request for my Epson ET-2721 that I would like to setup wirelessly with a real working setup (not the wireless functions of the printer itself, but with a Raspberry Pi 3 b+).
I would also like to contribute as much as possible for what little I know about C or drivers, tho

[2022-02-10 13:52] zdohnal commented on #138
+1

+1

That's what I meant in my comment - unaware users can go to the page and if they don't find their printer there, they think it is unsupported. So the suggestion would be like:

'The database contains printers which are supported by classic drivers. Most office printers since 2010 support AirPrint, which is compatible with IPP Everywhere implemented in CUPS, therefore supported by OpenPrint

[2022-02-10 14:35] jsmeix commented on #138
A possibly dumb question (I don't have an IPP Everywhere printer):

Is there perhaps a public available testing tool (e.g. free software)
that could verify if a particular printer model conforms with what CUPS
needs in practice at least for basic printing via IPP Everywhere?

What I mean is:
When a user has bought some new "ACME HappyPrinter IPP1001XL"
printer device at some shop, could he test if

[2022-02-10 14:38] michaelrsweet commented on #138
@bryanpedini AirPrint is Apple's profile for IPP. Essentially it requires most of everything in IPP Everywhere plus support for the CUPS supply level attributes ("marker-colors", "marker-levels", etc.), the Apple raster format ("image/urf", which is very similar to PWG Raster or "image/pwg-raster"), and IPP-USB which provides IPP access to a printer over USB.

[2022-02-10 14:41] michaelrsweet commented on #138
@jsmeix Aside from the [IPP Everywhere Printer Self-Certification Tools](https://github.com/istopwg/ippeveselfcert), the "testclient" unit test program included with CUPS is able to test the basic functionality of a printer and print a few test pages.

[2022-02-10 14:49] tillkamppeter commented on #138
It works perfectly well also on USB, using the IPP-over-USB standard. You simply need to install OpenPrinting's [ipp-usb](https://github.com/OpenPrinting/ipp-usb) on your Pi so that when you plug your printer, it will immediately appear as `ipp://localhost:60000/ipp/print` on your Pi, and the web admin interface of the printer as `http://localhost:60000/`.

"Air..." is Apple's marketing speech, no

[2022-02-10 15:29] tillkamppeter commented on #138
@jsmeix No problem, this is what Printer Applications are good for. Get some of these old printers floating around in SUSE's  offices, gar the correct Printer Application from the [Snap Store](https://snapcraft.io/search?q=OpenPrinting) and welcome to the wunderful world of IPP Everywhere.

[2022-03-15 06:30] hifi commented on #138
I'm politely disagreeing with the statement "not be of much help". It _may_ be obvious to people who work with CUPS or the printing stack in general that most printers today just work driverless but for someone who doesn't the sensible thing you do before making a purchase decision is to look online if the printer is garbage or not.

I bought a new printer and thought I'd contribute an entry to Op

[2022-03-15 14:39] michaelrsweet commented on #138
@tillkamppeter Someplace on openprinting.org's printer database page, we should mention that users can look for AirPrint, IPP Everywhere, or Mopria Certified. Generally speaking, AirPrint printers are the superset of driverless printers...

Script to pull the current list of AirPrint printers from Apple:

- [update-printer-list.sh.txt](https://github.com/OpenPrinting/openprinting.github.io/files/8

[2022-03-15 15:47] hifi commented on #138
I can find my new printer from the AirPrint list, seems quite good!

For interactive filtering I'd still break it down by manufacturer as the list is massive and definitely put it on up very visibly on the website. Is there a reason why it couldn't be part of the main new github.io site as it could be rebuilt manually from time to time?

Thanks.

[2022-03-15 16:38] michaelrsweet commented on #138
@tillkamppeter I'd simplify/rewords things as follows:

@hifi We could easily add search/filter controls like those on the [IPP Everywhere Printers](https://www.pwg.org/printers) page. And FWIW we might be able to merge this with the list of printers that need drivers (Till? Can you generate a JSON snapshot of the current database, maybe with a reference to the printer application that replaces th

[2022-03-15 16:58] tillkamppeter commented on #138
@michaelrsweet great, thanks. Your text is much better. I wrote mine up quickly to simply convey the idea.

On the OpenPrinting web server I will add a service to query discovered printers for whther they are supported by a Printer Application and if yes by which one. See my [write-up of the idea and how I intend to implement it](https://openprinting.github.io/OpenPrinting-News-November-2021/#prin

[2022-03-15 17:55] michaelrsweet commented on #138
@tillkamppeter I've put a draft page up at <https://openprinting.github.io/printers>. Right now it is just the AirPrint/IPP Everywhere printer list, but I can merge the results with separate JSON sources for printer applications and drivers.

[2022-03-15 18:04] tillkamppeter commented on #138
@michaelrsweet great, looks nice.

But instead of "driver" I would say something like "driverless printing standards". We should also join the printers of different standards (AirPrint, Mopria, IPP Everywhere) in the list and under "driverless printing standards" list all standards under which they were originally listed. The filters on the top should also allow to select a driverless printing sta

[2022-03-15 19:06] hifi commented on #138
@michaelrsweet The draft looks pretty good, easy to look up. With a bit more metadata and merging of data sources like @tillkamppeter suggested it'll be the perfect place to confirm the status of a printer.

If all databases are merged together for the end user some color coding and/or rating based on the driver/standard would still be good to have so you can also easily pick up what to avoid. Of

[2022-03-17 14:17] tillkamppeter commented on #138
So what I would like to have as a first step is the text

in large letters on the front page, right under the "OpenPrinting works on the development of ..." and above the news items.

As I am not very familiar with the mechanisms in the `index.html` file of the site, I appreciate a lot that someone could do it for me, @dheeraj135 @PIYUSHgoyal16?

[2022-03-17 14:19] tillkamppeter commented on #138
@michaelrsweet or could you add this piece of text to the front page?

[2022-03-17 16:57] michaelrsweet commented on #138
@tillkamppeter I'll see what I can do.

@hifi There are limits to the kind of information we can "harvest" from the Apple AirPrint and IPP Everywhere pages. Mopria's certified printers page is woefully out of date so there isn't much point to trying to include those. If Till can generate a JSON report (ideally) of the printer driver database, I can merge the two sources and list whether the printe

[2022-03-18 14:51] michaelrsweet commented on #138
@tillkamppeter @hifi OK, so I've pushed some changes and made the driverless printer list accessible from the home page. Let me know what you think!

[2022-03-18 17:31] michaelrsweet commented on #138
@tillkamppeter I'll see if I can add a break in there - the layout method is a little esoteric...

The printer list is maintained by running a script (update-printer-list.sh) periodically - 3-4 times a year should be enough to stay up to date, but I can setup a background job to do it once a week and commit any changes automatically. (done)

[2022-03-18 19:18] tillkamppeter commented on #138
@michaelrsweet Great, looks better now. Thanks.

Also thanks for setting up the auto-updater job. One question here: If I modify and commit the `update-printer-list.sh` script, will the weekly update happen with my new version of the script? Where is the update configured?

[2022-03-18 19:53] hifi commented on #138
@michaelrsweet Looks good in my opinion and fairly easy to discover the facts now. Thanks for spending the time!

[2022-03-18 20:31] michaelrsweet commented on #138
@tillkamppeter The update job is setup on one of my dev machines, and it pulls any changes from the repo, runs the update-printer-list.sh script from the repo to update the driverless.json file, and then commits and pushes any changes. Most of the time it'll go through the motions and end up with no changes, but 2 minutes of CPU time once a week is acceptable... :)

[2022-03-18 20:32] michaelrsweet commented on #138
@hifi You're welcome, and it was no problem. I'm hoping we can make the page even more useful (pointing people to a particular printer application for printers that need it) so it is more of a one-stop-shop page.

[2022-03-18 20:43] tillkamppeter commented on #138
Yes, there are still several things, like removing all obsolete links from the Foomatic web app, like for PPR, PDQ, LPRmg, ... and for the forums we do not run any more.

For finding the right Printer Application for a given printer I am planning to add an automatic tool which also printer setup tools can query. See [here](https://openprinting.github.io/OpenPrinting-News-November-2021/#printer-que

[2022-03-18 20:45] michaelrsweet commented on #138
@tillkamppeter I'm hoping we can just update the script to generate an appropriate snapshot for all printers - that lowers the burden on infrastructure and speeds things up in the browser...

[2022-03-28 12:20] michaelrsweet commented on #138
I think this issue has been addressed; we'll continue to improve this page as time and resources permit.

[2022-03-28 12:20] #138 closed

[2022-03-28 12:21] michaelrsweet commented on #134
I fixed this on the home page already, and it looks like that fix also fixed the downloads page...

[2022-03-28 12:21] #134 closed

[2022-03-28 12:24] michaelrsweet commented on #132
This looks like a Github Pages bug - the link isn't getting expanded properly under openprinting. Changing it to an absolute link to the CUPS home page's documentation section.

[2022-03-28 12:24] #132 closed

[2022-03-28 12:26] michaelrsweet commented on #136
@tillkamppeter This is an issue with the older web site you maintain...

[2022-03-28 12:45] michaelrsweet commented on #95
I opted to just add a link to the IPP Everywhere landing page. I also cleaned up the content...

[2022-03-28 12:45] #95 closed

[2022-03-28 17:17] NeilRickards commented on #136
Thanks @tillkamppeter.  You list my printer as a "paperweight" but I was able to get it working using CUPS.  I was going to contribute this information back.  If user contributions are no longer supported then happy to close this ticket.
Thanks both for maintaining CUPS - this and a Raspberry Pi have saved at least one printer from landfill!

[2022-03-28 18:22] tillkamppeter commented on #136
@NeilRickards please report an issue on [foomatic-db](https://github.com/OpenPrinting/foomatic-db/issues), tell us exactly which printer model you have and how you made it working with CUPS in your issue report.

[2022-03-28 18:22] #136 closed

[2022-07-14 18:39] lindhe opened #142 "Search is broken."
Hi!

It seems the search is completely broken. When I click the search icon and type stuff, nothing happens except I get a bunch of errors in the web console.

Also it's barely possible to see what I'm typing because the contrast is so low.

![Nothing happens when I search](https://user-images.githubusercontent.com/7773090/179057983-38d81437-0da3-4bb7-917b-49d850e0e644.png)

[code]